VITE_USE_MOCK_API=true
VITE_API_BASE_URL=http://localhost:8000
VITE_VEHICLE_SERVICE_URL=http://localhost:8001
VITE_DRIVER_SERVICE_URL=http://localhost:8002
VITE_SHIPMENT_SERVICE_URL=http://localhost:8003
VITE_TRIP_SERVICE_URL=http://localhost:8004
VITE_ROUTE_SERVICE_URL=http://localhost:8005
VITE_MAINTENANCE_SERVICE_URL=http://localhost:8006
VITE_AI_SERVICE_URL=http://localhost:8007
